* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 3rem; 
  background-color: #dfeaec;
}

nav > div { 
  display: flex;
  align-items: center; 
}

nav > div a { 
  text-decoration: none; 
}

.logo-1A-Dev {
  height: 3.5rem; 
  margin-right: 1rem; 
}

.texto-logo-1A-Dev {
  font-size: 1.8rem; 
  color: #333;
  font-weight: 600;
}

.titulo-tsdwam {
  font-size: 1.3rem; 
  color: #333; 
  margin: 0; 
  white-space: nowrap;
  text-transform: uppercase;
}

nav > img.logo-ispc { 
  height: 4rem; 
}

/* Espacios Curriculares */

.titulo-espacios-curriculares {
  list-style: none; /* Elimina las viñetas */
  padding: 1.5rem; /* Elimina el padding predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
  display: flex; /* Convierte la lista en un contenedor flexible */
  flex-direction: column; /* Organiza los elementos de la lista en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 1.5rem;
  background-color: #dfeaec;
}

.espacios-curriculares {
  list-style: none; /* Elimina las viñetas */
  padding: 2rem; /* Elimina el padding predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
  display: flex; /* Convierte la lista en un contenedor flexible */
  flex-direction: column; /* Organiza los elementos de la lista en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 0.5rem;
  background-color: #dfeaec;
}

.espacios-curriculares li {
  margin-bottom: 1rem; /* Espacio entre cada elemento de la lista */
}

.espacios-curriculares li:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último elemento */
}

.espacios-curriculares li a {
  text-decoration: none; 
  color: #333; 
   
  font-size: 1.5rem;

}

.espacios-curriculares li a:hover {
  color: #007bff; 
}


/* Sección Integrantes del Grupo */

.equipo {
  text-align: center; /* Opcional: Centra el título y el subtítulo */
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background-color: #eef2f3;
  padding: 1rem;

}

.integrantes-grupo {
  display: flex; /* Convierte el div en un contenedor flexible */
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no hay suficiente espacio */
  justify-content: center; /* Centra los integrantes horizontalmente */
  margin-top: 1rem;
}

.integrantes-grupo p {
  margin: 0.5rem 1rem; /* Añade un pequeño margen alrededor de cada nombre */
  font-size: 1.5rem; /* Tamaño de fuente (puedes ajustarlo) */
}


/* Footer */

.pie-de-pagina {
  background-color: white; /* Establece el fondo blanco */
  padding: 1rem; /* Añade un espaciado interno alrededor del texto */
  text-align: center; /* Centra el texto horizontalmente */
}

.pie-de-pagina p {
  margin: 0; /* Elimina cualquier margen predeterminado del párrafo */
  font-size: 1.1rem; /* Ajusta el tamaño de la fuente si lo deseas */
  color: #333; /* Establece el color del texto (opcional) */
}