* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 3rem; 
  background-color: #dfeaec;
}

nav > div { 
  display: flex;
  align-items: center; 
}

nav > div a { 
  text-decoration: none; 
}

.logo-1A-Dev {
  height: 3.5rem; 
  margin-right: 1rem; 
}

.texto-logo-1A-Dev {
  font-size: 1.8rem; 
  color: #333;
  font-weight: 600;
}

.titulo-tsdwam {
  font-size: 1.3rem; 
  color: #333; 
  margin: 0; 
  white-space: nowrap;
  text-transform: uppercase;
}

nav > img.logo-ispc { 
  height: 4rem; 
}

/* Espacios Curriculares */

.titulo-espacios-curriculares {
  list-style: none; /* Elimina las viñetas */
  padding: 1.5rem; /* Elimina el padding predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
  display: flex; /* Convierte la lista en un contenedor flexible */
  flex-direction: column; /* Organiza los elementos de la lista en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 1.5rem;
  background-color: #dfeaec;
}

.espacios-curriculares {
  list-style: none; /* Elimina las viñetas */
  padding: 2rem; /* Elimina el padding predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
  display: flex; /* Convierte la lista en un contenedor flexible */
  flex-direction: column; /* Organiza los elementos de la lista en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 0.5rem;
  background-color: #dfeaec;
}

.espacios-curriculares li {
  margin-bottom: 1rem; /* Espacio entre cada elemento de la lista */
}

.espacios-curriculares li:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último elemento */
}

.espacios-curriculares li a {
  text-decoration: none; 
  color: #333; 
   
  font-size: 1.5rem;

}

.espacios-curriculares li a:hover {
  color: #007bff; 
}

